@import './variables.scss';
@import './mixins.scss';
@import './mediaQ.scss';

.header {
    min-height: 85vh;
    max-height: 85vh;
    background: url('https://images.pexels.com/photos/21694/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat;
    background-position: left;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    &__title {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 15vw;
        &--text {
            color: $header-text-color;
            font-weight: bold;
            font-size: 3.5rem;
        }
        &--icon {
            &-phone {
                animation-name: iconPhoneAnimation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                @keyframes iconPhoneAnimation {
                    0% {
                        transform: rotate(0);
                    }
                    25% {
                        transform: rotate(25deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            &-location {
                animation-name: iconLocationAnimation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                @keyframes iconLocationAnimation {
                    0% {
                        transform: scale(1);
                    }
                    25% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
            &-text {
                color: $header-text-color;
                font-weight: bold;
            }
        }
    }
}

.about {
    padding: 60px 0;
    &__header {
        &--title {
            font-weight: bold;
        }
        &--subtitle {
            font-weight: bold;
        }
    }
    &__services {
        &--title {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.gallery {
    padding: 50px 0;
    &__indicator {
        position: relative;
        top: 40%;
        &--direction {
            border-radius: 100%;
           &-icon {
               font-size: 4.2rem;
               margin: 0!important;
           } 
        }
    }
    &__carousel {
        &--item {
            width: 300px !important;
            height: 300px !important;
        }
        &--modal {
            height: 100vh;
            background-size: 100% 100%;
        }
    }
}

.map {
    min-height: 700px;
    iframe {
        display: block;
    }
}

