@import './variables.scss';
@import './mixins.scss';
@import './mediaQ.scss';
body {
    background-color: black;
}
.nav{
    background-color: rgba(0,0,0,0.6)!important;
    border-bottom: 1px solid #858686;
    padding: 0 20px;
}
.header {
    min-height: 85vh;
    max-height: 85vh;
    background: url('https://images.pexels.com/photos/21694/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat;
    background-position: left;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    &__title {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 15vw;
        &--text {
            color: $header-text-color;
            font-weight: bold;
            font-size: 3.5rem;
        }
        &--icon {
            &-phone {
                animation-name: iconPhoneAnimation;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @keyframes iconPhoneAnimation {
                    0% {
                        transform: rotate(0);
                    }
                    25% {
                        transform: rotate(25deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            &-location {
                animation-name: iconLocationAnimation;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @keyframes iconLocationAnimation {
                    0% {
                        transform: scale(1);
                    }
                    25% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
            &-text {
                color: $header-text-color;
                font-weight: bold;
            }
        }
    }
}

#about {
    padding-top: 56px;
}
.about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__header {
        &--title {
            font-weight: bold;
        }
        &--subtitle {
            font-weight: bold;
        }
    }
    &__services {
        &--wrapper {
            padding: 20px!important;
        }
        &--title {
            font-weight: bold;
            text-transform: uppercase;
        }
        &--more {
            &-checkIcon {
                color: green;
            }         
        }
    }
}

#gallery {
    @extend #about;
}
.gallery {
    padding: 20px 0;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    &__slides {
        height: auto;
        width: auto;
        &--link {
            cursor: not-allowed;
            &-image {
                height: 80vh!important;
                border: #F57F17 2px solid;
            }
        }
    }
    &__indicator {
        margin: 0 50px;
        &--direction {
            border-radius: 100%;
           &-icon {
               font-size: 4.2rem;
               margin: 0 !important;
           } 
        }
    }
    &__carousel {
        &--modal {
            height: 100vh;
            background-size: 100% 100%;
        }
    }
}

.map {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/95/LodzRingAutostradowy.svg');
    min-height: 700px;
    iframe {
        display: block;
    }
}

#contact {
    @extend #about;
}

