@import './../../assets/materialize-src/sass/materialize.scss';

@media #{$medium-and-down} {
    .gallery {
        &__indicator {
            display: none;
        }
    }
}
@media #{$small-and-down} {
    .header {
        background-position: center;
        justify-content: center;
        min-height: 75vh;
        max-height: 75vh;
        &__title {
            margin: 0;
            &--text {
                font-size: 2rem;
            }
        }
    }
    .about {
        padding-top: 60px;
        &__header {
            &--title {
                font-size: 2rem;
            }
        }
    }
    .gallery {
        &__carousel {
            &--modal {
                width: 100% !important;
                max-height: 90% !important;
            }
        }
    }
    .footer {
        padding-top: 60px;
        &__contact {
            text-align: center;
        }
        &__hours {
            text-align: center;
        }
    }
}